@model IEnumerable<QuestStore.Models.Quests>
@{
    var showButtons = (bool)ViewData["ShowButtons"];
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extra)
        </th>
        @if (showButtons)
        {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra)
            </td>
            @if (showButtons)
            {
                <td>
                    @if (User.IsInRole("Student") || User.IsInRole("Admin"))
                    {
                        <a asp-action="Details" asp-route-id="@item.QuestId">Details</a> @: | 
                        <a asp-action="SignOn" asp-route-id="@item.QuestId">Sign On</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @: | 
                        <a asp-action="Edit" asp-route-id="@item.QuestId">Edit</a>@: |
                        <a asp-action="Delete" asp-route-id="@item.QuestId">Delete</a>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>