@model IEnumerable<QuestStore.Models.Users>

@{
    ViewData["Title"] = "Details";
}

<h1>Group members</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
        </tr>
    }
    </tbody>
</table>
@if(!User.IsInRole("Student"))
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
