@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Identity
@model IEnumerable<QuestStore.Models.Users>
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Users" asp-action="Index">
    <p>
        User: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mentor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (UserManager.Users.Single(u => u.Id == item.CredentialsId).UserName == "admin")
    {
        continue;
    }
        <tr>
            <td>
                @UserManager.Users.Single(u => u.Id == item.CredentialsId).UserName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>                   
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
